{% extends 'cagouille/base.html' %}

{% block html %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
  {% endblock %}
    <script type="module" crossorigin src="/assets/index-18e7a3dc.js"></script>
    <link rel="stylesheet" href="/assets/index-b9365240.css">
  </head>
  <body>
  {% block body %}
    <div id="app"></div>
  {% endblock %}
  </body>
</html>
{% endblock %}